{{#if wantTypes}}
// @flow
{{/if}}
/**
*
* {{ properCase name }}
*
*/

import React from "react";
import PropTypes from "prop-types";
{{#if wantStyles}}
import styled from "styled-components";
{{/if}}

{{#if wantMessages}}
import messages from "./messages";
{{/if}}

export const {{ properCase name }}Component => ({{#if wantMessages}}{ i18n }{{/if}}) {
  return (
    <div>
    {{#if wantMessages}}
      {i18n(messages.header)}
    {{/if}}
    </div>
  );
}

{{ properCase name }}Component.propTypes = {
{{#if wantMessages}}
  i18n: PropTypes.func.isRequired
{{/if}}
};

{{#if wantStyles}}
export const {{ properCase name }}Styled = styled({{ properCase name }})`
  color: red;
`;
export const {{ properCase name }} = {{ properCase name }}Styled;
{{else}}
export const {{ properCase name }} = {{ properCase name }}Component;
{{/if}}
